<div class="search-bar">
  <div class="content">
    <div class="search-box" id="search-box" oninput="onSearchChange()">
      <input type="text" id="search-query" name="search-query" placeholder="Search for names, research fields, technologies, …" size="1">
      <!-- <button class="search-button">
        <img src="/assets/images/search.svg" alt="" class="search-icon">
        <span>Search</span>
      </button> -->
      <button class="filter-button" onclick="toggleFilterMenu()">
        <div class="filter-icon"></div>
        <div>Filter</div>
      </button>
    </div>
    <div class="placeholder"></div>
  </div>
</div>
