  <div class="supervisor-container">
    <div class="content">

      <div class="supervisor-card">
        <h2 class="title"></h2>
        <div class="group-row">
        </div>
        <div class="research-themes">
          <div class="tags tags-themes">

          </div>
        </div>
        <div class="additional-details"></div>
        <div class="contact-details">
          <div class="contact office-hours">
            <img src="/assets/images/time.svg" alt="">
            <div>
              <div class="title">Office Hours</div>
              <span></span>
            </div>
          </div>
          <div class="contact contact-email">
            <img src="/assets/images/mail.svg" alt="">
            <a href="" target="blank"></a>
          </div>
          <div class="contact contact-url">
            <img src="/assets/images/url.svg" alt="">
            <a href="" target="blank"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
